#only commit Aditi_fly_optic_lobe folder 

temporal_filtering/
.vscode/
__pycache__/

#remove CSV files 

Aditi_fly_optic_lobe/central_column_connectivity.csv
Aditi_fly_optic_lobe/offset_column_connectivity.csv

